<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>COVID-19 Probability Detector</title>
  </head>
  <body>
   

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COVID-19 Probability Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container">

        <h3 class="text-center mt-3">Covid-19 Probability Detector</h3>

        <form action="/" method="POST">
            <div class="form-group">
              <label for="bodyTemp">Enter The Body Temperature</label>
              <input type="text" class="form-control" id="bodyTemp" name="bodyTemp" placeholder="Temperature">
            </div>

            <div class="form-group">
                <label for="bodyPain">Body Pain</label>
                <select class="form-control custom-select" name="bodyPain" id="bodyPain">
                  <option value="1">No Pain</option>
                  <option value="0">Pain</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="runnyNose">Runny Nose</label>
                <select class="form-control custom-select" name="runnyNose" id="runnyNose">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                  </select>
              </div>


              <div class="form-group">
                <label for="diffBreath">Difficulty in Breathing</label>
                <select class="form-control custom-select" name="diffBreath" id="diffBreath">
                  <option value="1">Sever Difficulty</option>
                  <option value="0">Modrate Difficulty</option>
                  <option value="-1">No Difficulty</option>
                  </select>
              </div>


              

              <div class="form-group">
                <label for="o2Saturation">Enter The Oxygen Level Saturation</label>
                <input type="text" class="form-control" id="o2Saturation" name="o2Saturation" placeholder="Oxygen Level">
              </div>


              <div class="form-group">
                <label for="travelHistory">Travelling History</label>
                <select class="form-control custom-select" name="travelHistory" id="travelHistory">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                  
                  </select>
              </div>


            <div class="form-group">
                <label for="age">Enter The Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="age">
              </div>


              <div class="form-group">
                <label for="LossofTasteSmell">Loss of Teast or Smell</label>
                <select class="form-control custom-select" name="LossofTasteSmell" id="LossofTasteSmell">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                  
                  </select>
              </div>


              <div class="form-group">
                <label for="vomiting">Vomiting Problem</label>
                <select class="form-control custom-select" name="vomiting" id="vomiting">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                   </select>
              </div>



              <div class="form-group">
                <label for="Diarrhea">Diarrhea Problem</label>
                <select class="form-control custom-select" name="Diarrhea" id="Diarrhea">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                  
                  </select>
              </div>
  

            
            
            

            <button class="btn btn-primary">SUBMIT </button>
          </form>


      </div>


  </body>
</html>